[submodule "pico-sdk"]
	path = lib/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "lib/cJSON"]
	path = lib/cJSON
	url = https://github.com/DaveGamble/cJSON
[submodule "lib/pico-rotary-encoder"]
	path = lib/pico-rotary-encoder
	url = https://github.com/jkroso/pico-rotary-encoder.c
